        body {
            background-color: #3719e0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100vh;
            padding: 20px; 
        }

        .titulo {
            background-color: rgb(129, 124, 124);
            color: white;
            padding: 5px 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-bottom: 10px;
        }

        .formularios-container {
            display: flex;
        }

        .formulario {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            text-align: left;
            width: 400px;
            margin-right: 20px;
        }

        .formulario div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .formulario label {
            flex: 1;
            margin-right: 10px;
        }

        .formulario input[type="text"],
        .formulario input[type="number"],
        .formulario input[type="checkbox"] {
            flex: 2;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        .formulario button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
        }

        .formulario button:hover {
            background-color: #45a049;
        }

        .formulario2 {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            text-align: left;
            width: 300px;
        }

        .formulario2 div {
            margin-bottom: 15px;
        }

        .formulario2 label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .formulario2 input[type="number"] {
            width: calc(100% - 20px);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
